.footer-page {
  position: absolute;
  bottom: 21px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 1302px;
  margin: 0 auto;
  z-index: 1;
}

.footer-page--quest {
  position: fixed;
}

.modal-button {
  position: relative;
  width: 83px;
  padding: 0;
  text-align: end;
  font-size: 12px;
  text-transform: none;
  font-weight: 500;
  background: none;
  border: none;
  border-bottom: 1.5px dashed;
  border-radius: 0;
  overflow: hidden;
  color: rgba(229, 229, 229, 1);
  cursor: url("../img/cursor–hand.png"), pointer;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 3px;
    left: -10px;
    background-image: url("../img/icon-question.svg");
    background-size: 12px 12px;

    &:hover {
      left: 0;
    }
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }

  &:hover {
    color: rgba(242, 138, 15, 1);
    overflow: inherit;
  }
}

@media only screen and (max-width: 1023px) {
  .footer-page {
    max-width: 730px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-page {
    position: absolute;
    bottom: 43px;
    display: none;
    width: 91%;
    z-index: 2;
  }

  .modal-button {
    width: 123px;
    font-size: 17px;
    letter-spacing: 0.3px;

    &::before {
      left: -10px;
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
    }
  }

  .footer-page--closed {
    display: flex;
  }

  .footer-page--nojs {
    position: absolute;
    display: flex;
  }
}
