.main-content {
  height: 100%;
  background: rgba(35, 21, 14, 1);
}

.main-content--quest {
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(31, 29, 29, 1) 100%);

  &::before {
    content: "";
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(28, 26, 26, 0) 0%, rgba(28, 26, 26, 0.5217437316723564) 35%, rgba(28, 26, 26, 1) 100%);
    z-index: 1;
  }

  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, rgba(19, 18, 18, 0.5441526952577906) 45%, rgba(19, 18, 18, 1) 100%);
    z-index: 1;
  }
}

@media only screen and (max-width: 767px) {
  .main-content--quest-order {
    overflow: hidden;

    &::before {
      content: "";
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 80px;
      margin: 0 auto;
      background: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, rgba(19, 18, 18, 0.5441526952577906) 45%, rgba(35, 21, 14, 1) 100%);
      z-index: 1;
    }

    .main-content--quest-order::-webkit-scrollbar {
      display: none;
    }
  }

  .main-content--quest::before {
    top: 60px;
  }
}
