.main-header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.main-header--quest {
  position: fixed;
  background: rgb(28, 27, 27);
  z-index: 2;
}

.main-header--quest-order {
  position: absolute;
}

.main-header--specific-quest {
  position: absolute;
}

.main-header__logo-img {
  cursor: url("../img/cursor_hand.png"), pointer;

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.7;
  }
}

.main-header__logo-img--main {
  cursor: auto;

  &:hover {
    opacity: 1;
  }
}

.main-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 22px;
  margin: 0 auto;
}

.main-header__wrap .main-header__logo {
  cursor: auto;
}

.main-header__link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 242px;
}

.main-header__link-wrap a {
  white-space: nowrap;
}

.main-header__link-phone {
  display: flex;
  flex-wrap: wrap;
}

.main-header__link {
  position: relative;
  margin-right: 27px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1.5px dashed transparent;
  text-transform: uppercase;
  color: rgba(242, 137, 15, 1);

  &::before {
    content: "";
    position: absolute;
    left: -25px;
    width: 16px;
    height: 21px;
    background-image: url("../img/icon-location.svg");
    background-repeat: no-repeat;
    background-size: 16px 21px;
  }

  &:hover {
    border-bottom: 1.5px dashed rgba(242, 137, 15, 1);
  }
}

.main-header__toggle {
  display: none;
}

.main-header__phone-link {
  font-size: 14px;
  letter-spacing: 1px;
  color: rgba(240, 240, 240, 1);

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.7;
  }
}

.main-header__menu-text {
  display: none;
}

.modal-form__error {
  font-size: 12px;
  color: rgba(242, 144, 29, 1);
  position: absolute;
  top: 117px;
  display: none;
}

@media only screen and (max-width: 1023px) {
  .main-header__wrap {
    max-width: 730px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-header__link {
    margin-right: 10px;
    font-size: 10px;
  }

  .main-header__phone-link {
    font-size: 11px;
  }

  .main-header__link::before {
    left: -20px;
    background-size: 13px 18px;
  }
}

@media only screen and (max-width: 767px) {
  .main-header__wrap {
    width: 91%;
    padding-top: 19px;
  }

  .main-header__link-wrap {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: initial;
    left: 0;
    right: 0;
    top: 95px;
    height: 98px;
    max-width: inherit;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .main-header__logo {
    z-index: 1;
  }

  .main-header__toggle {
    position: absolute;
    right: 16px;
    top: 34px;
    display: block;
    width: 20px;
    height: 15px;
    padding-left: 0;
    background-color: transparent;
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    border: none;
    z-index: 1;
    outline: 0;
    cursor: url("../img/cursor_hand.png"), pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .main-header__menu-text {
    position: absolute;
    display: block;
    right: 45px;
    top: 29px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    z-index: 1;
  }

  .main-header__link {
    margin-right: 0;
    margin-bottom: 14px;
    margin-left: 24px;
    font-size: 12px;

    &::before {
      left: -28px;
      background-size: 16px 21px;
    }
  }

  .main-header__phone-link {
    font-size: 14px;
  }

  .main-header__toggle--closed {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../img/close.png");
    background-size: 14px 14px;
  }

  .main-header__link-wrap--closed {
    display: flex;
  }

  .main-header__link-wrap--nojs {
    display: flex;
  }

  .main-header--nojs {
    position: inherit;
    display: flex;
  }

  .main-header__wrap--nojs {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .main-header__logo--nojs {
    position: absolute;
    top: 18px;
    left: 16px;
  }
}
