.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(61, 51, 51, 0.9);
  z-index: 10000;
}

.modal-form--show {
  display: block;
}

.modal-form__question {
  position: absolute;
  right: 0;
  left: 0;
  top: 6%;
  bottom: 0;
  margin: 0 auto;
  padding: 37px 33px;
  width: 480px;
  height: 682px;
  background-color: rgba(20, 20, 20, 1);
}

.modal-form__question h2 {
  margin: 0 0 44px;
  font-size: 32px;
  color: white;
}

.modal-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-form__item {
  position: relative;
}

.modal-form__item span {
  position: absolute;
  z-index: 1;
  padding: 0 8px;
  left: 13px;
  top: 44%;
  font-size: 14px;
  background-color: rgba(20, 20, 20, 1);
  transition: all 0.2s ease;
  color: rgba(229, 229, 229, 1);
}

.modal-form__item label {
  display: block;
  margin-bottom: 16px;
  font-size: 15px;
  color: white;
}

.modal-form__item input {
  position: relative;
  height: 53px;
  margin-bottom: 27px;
  width: 96%;
  padding-left: 18px;
  background-color: transparent;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 5px;
  color: white;
}

.modal-form__item textarea {
  height: 120px;
  margin-bottom: 23px;
  width: 96%;
  padding-left: 22px;
  padding-top: 14px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 5px;
  color: white;

  &:focus::placeholder {
    color: rgba(229, 229, 229, 1);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.modal-form__item-filled ~ span,
.modal-form__item input:focus ~ span {
  top: 22%;
}

.modal-form__button {
  width: 219px;
  margin: 0 auto 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  border: none;
  background-color: rgba(184, 184, 184, 1);
  color: white;
  cursor: url("../img/cursor–hand.png"), pointer;
}

.modal-form__button--checked {
  background-color: rgba(242, 138, 15, 1);
}

.modal-form__checkbox {
  display: flex;
  align-items: baseline;
}

.modal-form__checkbox p {
  margin: 0 0 0 11px;
  font-size: 15px;
  color: white;
}

.modal-form__checkbox input {
  margin-right: 10px;
}

.modal-form__checkbox a {
  letter-spacing: -0.9px;
  text-decoration: underline;
  color: white;
}

.modal-form__toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 31px;
  top: 37px;
  background-image: url("../img/close.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-color: transparent;
  border: none;
  cursor: url("../img/cursor–hand.png"), pointer;

  &:focus,
  &:active {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.7;
  }
}

.modal-form__input {
  appearance: none;
}

.modal-form__label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -12px;
    top: -12px;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(242, 137, 15, 1);
  }
}

.modal-form__input:checked ~ .modal-form__label::after {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  width: 8px;
  height: 8px;
  background-image: url("/img/icon-check.svg");
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.modal-form__label a {
  letter-spacing: 0;
}

label.error {
  position: absolute;
  right: 13px;
  bottom: -10px;
  text-align: end;
  font-size: 12px;
  color: rgba(210, 111, 19, 1);
}

input.valid {
  border-color: rgba(19, 186, 25, 1);
}

input.error {
  border-color: rgba(210, 111, 19, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important; /*stylelint-disable-line*/ //Чтобы переопределить цвет текста автозаполнения
  -webkit-box-shadow: 0 0 0 1000px rgba(20, 20, 20, 1) inset !important; /*stylelint-disable-line*/ //Чтобы переопределить цвет автозаполнения
  transition: background-color 5000s ease-in-out 0s !important; /*stylelint-disable-line*/ //Чтобы переопределить цвет фона автозаполнения
}


@media only screen and (max-width: 767px) {
  .modal-form__question {
    width: 100%;
    height: 100vh;
    top: 0;
    padding: 39px 18px;
  }

  .modal-form__item label {
    width: 90%;
    margin-bottom: 13px;
  }

  .modal-form__checkbox p {
    margin-left: 11px;
    letter-spacing: -0.5px;
    line-height: 22px;
  }

  .modal-form__checkbox label.error {
    right: 33px;
    bottom: 22px;
  }

  .modal-form__item input {
    font-size: 14px;
    padding-left: 21px;
  }

  .modal-form__item textarea {
    margin-bottom: 27px;
    padding-top: 21px;
  }

  .modal-form__button {
    margin: 0 auto 20px;
  }

  .modal-form__toggle {
    right: 15px;
    top: 39px;
  }

  .modal-form__item span {
    top: 53%;
  }

  .modal-form__item-filled ~ span,
  .modal-form__item input:focus ~ span {
    top: 35%;
  }
}
